<html lang="en">
  <head>
    {{>links}}
    <title>Document</title>
  </head>
  <body>
    <div class="register-box">
      <div class="hero2">
        <div class="form-box2">
          <a href="/" class="close-btn2">&times;</a>
          <h2>Register</h2>
          <form id="register" class="input-group2" action="/register" method="POST">
            <div class="input-field">
              <i class="fa fa-user" aria-hidden="true"></i>
              <input type="text" name="usename" class="field" placeholder="User ID" required />
            </div>
            <div class="input-field">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <input type="email" name="email" class="field" placeholder="Email" required />
            </div>
            <div class="input-field">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input
                type="password"
                name="password"
                class="field"
                placeholder="Password"
                required
              />
            </div>
            <div class="input-field">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input
                type="password"
                name="password"
                class="field"
                placeholder="Confirm Password"
                required
              />
            </div>
            <input type="checkbox" class="check-box" required /><span>I accept
              all the terms & conditions.</span>
            <button type="submit" class="submit-btn2">Register</button>
          </form>
          <div class="aside2">
            <p>Already have an account? <a href="/login">Log In</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>